footer {
  /* position: ; */
  /* left: 0;
  bottom: 0;
  right: 0; */

  width: 100%;
  margin-top: 6rem;
  background: var(--color-onyx-950);

}

.links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.links-footer svg {
  width: 2rem;
  height: 2rem;

  transition: .3s;
}

footer div {
  width: 100%;
  max-width: 102.4rem;
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  
  padding: 2.4rem 1.6rem;
  margin-inline: auto;

  color: var(--color-onyx-100);
  font-size: 1.2rem;
}