.card-my-project {
  max-width: 31rem;
  height: 52rem;
  overflow: hidden;

  border: 1px solid var(--color-onyx-100);
  border-radius: 8px;
  
  background: rgba(228, 232, 233, .2);
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.1);
}

.card-my-project a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 200ms ease-out, transform 600ms ease-in;
}

.card-my-project a:hover {
  filter: brightness(104%);
}

.card-my-project img {
  width: 100%;
    /* trabalha a propoção da imagem */
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: all 200ms ease-out, transform 600ms ease-in;

  display: block;
}

.card-my-project img:hover {
  filter: hue-rotate(7deg) contrast(110%) saturate(200%);
  transform: scale(1.1);
}

.card-my-project .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  
  padding: 1.6rem;
}

.card-my-project .role {
  font-size: 1.4rem;
  color: var(--color-onyx-400);
}

.card-my-project .description {
  text-align: start;
  margin-top: .6rem;
}

.card-my-project .techs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;

  margin-top: 2rem;
}

.card-my-project .techs span {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--color-onyx-200);
  
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  text-transform: uppercase;
}

.card-my-project .techs span img{
  width: 1.8rem;
}

.card-my-project .footer {
  background: rgba(228, 232, 233, .5);
  border-top: 1px solid var(--color-onyx-20);
  padding: 1.6rem;
  font-size: 1.4rem;
  text-align: center;
}
