.project-container .project-header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 6.527rem;
  background: var(--color-onyx-100);

  width: 100%;
  height: 40rem;
  /* height: 60.3rem; */
}

.project-container header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.design-process img,
.wireframe img,
.visual-identity img {
  padding-top: 3.2rem;
  width: 100%;
  object-fit: contain;
}

.project-brief,
.project-overview,
.project-user-research,
.project-problem,
.project-design-concept,
.project-user-feedback,
.project-reflection {
  margin: 6.6rem auto;
}

.project-brief .brief-wrapper,
.project-overview .overview-wrapper,
.project-user-research .user-research-wrapper,
.project-problem .problem-wrapper,
.project-design-concept .design-concept-wrapper,
.project-user-feedback .user-feedback-wrapper,
.project-reflection .reflection-wrapper { 
  border: 1px solid none;

  max-width: 95.6rem;
  padding: 1.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview-title,
.user-research-title,
.design-concept-title,
.user-feedback-title,
.problem-title,
.reflection-title {
  color: var(--color-crimson-600);
  font-weight: 600;
  letter-spacing: .1rem;
  margin-bottom: 1.6rem;
}

.list-ul-styled li {
  padding-left: 2rem; /* Ajuste o recuo conforme necessário */
  text-indent: -2rem; /* Move a segunda linha para trás */
  margin-top: 0.5rem;
  line-height: 125%;
}

.list-ul-styled li:before {
  content: "•"; /* Símbolo do bullet */
  display: inline-block;
  width: 0; /* Largura do bullet */
  margin-left: 2rem; /* Move o bullet para trás para compensar o recuo */
  font-size: 2.4rem;
}


/* PROJECT BRIEF SECTION */
.project-brief {
  border: 1px solid none;
}

.project-brief .subtitle {
  line-height: 2.24rem;
  margin-top: 1.6rem;
}

.project-brief-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;

  margin-top: 6rem;
}

.project-brief-info div {
  width: 18rem;
}

/* OVERVIEW SECTION */
.project-overview {
  border: 1px solid none;
}

.project-overview .prompt p {
  margin-top: 1.6rem;
}

.project-overview .design-process, 
.project-overview .initial-thinking, 
.project-overview .how-might-we-questions {
  margin: 6.2rem 0 1rem;
}

/* AQUIIIII */
/* .project-overview .design-process img {
  margin-top: 1.6rem;
  width: 100%;
  object-fit: contain;
} */

.project-overview .initial-thinking > div {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.list-initial-thinking span {
  font-size: 2rem;
}

.list-initial-thinking ul,
.how-might-we-questions ul {
  margin-top: 1.6rem;
}

.how-might-we-questions li:before {
  content: "01"; /* Símbolo do bullet */
  display: inline-block;
  width: 4rem; /* Largura do bullet */
  margin-left: -2rem; /* Move o bullet para trás para compensar o recuo */
  color: var(--color-onyx-400);
  font-weight: 600;
}

.how-might-we-questions li {
  padding-left: 6rem; /* Ajuste o recuo conforme necessário */
  text-indent: -2rem; /* Move a segunda linha para trás */
  margin-top: 3.2rem;
  line-height: 160%;
}

/* user-research SECTION */
.project-user-research {
  border: 1px solid none;
}

.reserch-goals,
.reserch-goals span,
.reserch-goals ul {
  margin-top: 1.6rem;
}

.reserch-goals span {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 500;
}

.reserch {
  margin-top: 6rem;
}

/* PROBLEM SECTION */
.project-problem {
  background: var(--color-onyx-100);
  border: 1px solid none;
  padding: 6.2rem 0;
}

.problem-startment{
  display: flex;
  flex-direction: column;
  gap: 4rem;

  width: 100%;
}

.problem-wrapper p {
  align-self: flex-end;
  justify-self: end;
  max-width: 50rem;

  font-size: 2rem;
}

/* DESIGN-CONCEPT SECTION */
.project-design-concept {
  border: 1px solid none;
}

/* user-feedback SECTION */
.project-user-feedback {
  border: 1px solid none;
}

.user-testing-feedback ul{
  margin-top: 1.6rem;
}


/* FEEDBACKS SECTION */
.topics {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  letter-spacing: 0;
}

