section.brief, 
section.portfolio {
  padding: 3.2rem 1.6rem 0;
}

section.brief {
  background: var(--color-onyx-50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 10rem;

  /* border: 1px solid red; */
}

.brief img {
  width: 100%;
  height: 280px;
  object-fit: contain;
}

.brief h1 {
  font-size: 2.4rem;
  line-height: 3.4rem;

  margin-top: 6rem;
}

.brief div {
  margin-top: 1.6rem;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: var(--color-gradient-tt);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.welcome p {
  color: var(--color-onyx-400);
}

.welcome p span {
  color: var(--color-onyx-950);
}

section.portfolio {
   margin-top: 10rem;
}

section.portfolio .cards {
  display: grid;
  gap: 4rem;

  width: 100%;

  margin-top: 3rem;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
div.scroll::-webkit-scrollbar {
  display: none;
}

