.resume-container {
  padding: 9.8rem 2rem 0;
}

.resume-wrapper {
  position: relative;
  display: grid;
  gap: 5rem;

  background: #fff;
  border-radius: 20px;
  padding: 3.2rem;

  max-width: 98.6rem;
  margin-inline: auto;
}

.resume-wrapper header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.resume-wrapper header h2 {
  font-size: 3.2rem;
  font-weight: 500;
  padding-right: 4rem;
}

.resume-wrapper header a {
  display: flex;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.resume-wrapper section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.work-card,
.education-card,
.skillset-card {
  display: flex;
  flex-direction: column;
}

.work-card + .work-card,
.education-card + .education-card,
.skillset-card + .skillset-card {
  margin-top: 2rem;
}

.resume-wrapper section h5 {
  padding-right: 4rem;
  font-size: 1.4rem;
  font-weight: 400;

  text-transform: uppercase;
}

.resume-wrapper section h4 {
  line-height: 2.4rem;
}

.resume-wrapper section span {
  font-size: 1.6rem;
  color: var(--color-onyx-400);
}
.resume-wrapper .timeline {
  font-size: 1.4rem;
  margin-top: .6rem;
}

.resume-wrapper section p {
  font-size: 1.4rem;
  line-height: 2.4rem;

  margin-top: 1.2rem;
}

/* .skillset > div {
  display: flex;
  flex-direction: row;
  background-color: blue
} */

.skillset  .skillset-card p {
  margin-top: 1.6rem;
}

#btn-download {
  position: absolute;
  /* left: 0; */
  right: 0;
  top: 0;
  /* bottom: 0; */
  /* padding: 4rem; */
  border: none;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .2);
  border-bottom-left-radius: 9999px;
  width: 6rem;
  height: 6rem;

  background: var(--color-crimson-opacity-8);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

}

#btn-download svg {
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
}

.file-down-icon {
  color: var(--color-onyx-600);
}