nav {
  position: fixed;
  width: 100%;
  max-width: 375px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.8rem 1.6rem;

  transition: .9s;

  background: var(--color-onyx-50);
}

.brand {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.brand img {
  width: 11rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

nav ul li a {
  font-weight: 500;
}