nav {
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.brand img {
  width: 11rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

nav ul li a {
  font-weight: 500;
}