@media (min-width: 485px) {
  nav ul {
    gap: 4rem;
  }

  .resume-wrapper {
    padding: 4rem 5.2rem;
  }

  .skillset-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .skillset-card + .skillset-card {
    margin-top: 0;
  }
}

@media (min-width: 610px) {
  nav ul {
    gap: 6rem;
  }

  .resume-wrapper header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 742px) {
  section.brief .brief-wrapper {
    flex-direction: row-reverse;
    align-items: center;
  }

  section.brief h1 {
    margin: 0;
  }

  section.portfolio .portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 9rem; */

    width: 100%;
  }

  .portfolio-wrapper-section-header {
    display: block;
    /* position: fixed; */
    display: grid;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 26rem;
  }

  section.portfolio .portfolio-wrapper .cards {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .resume-wrapper {
    padding: 6rem 8rem;
  }
}

@media (min-width: 986px) {
  nav ul {
    padding-right: 4rem;
  }

  section.portfolio {
    display: flex;
    flex-direction: column;

  }
  
  section.portfolio .cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    
    max-width: 82rem;

    margin-inline: auto;
  }

  .resume-wrapper {
    padding: 6.4rem 8.2rem;
  }

  .resume-wrapper section {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .resume-wrapper section h5{
    padding-top: .4rem;
  }

  .skillset-card + .skillset-card{
    margin-top: 0;
  }

  .skillset-card {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1090px) {
  section.portfolio .cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */

    max-width: 109rem;
  }

  section.brief img {
    width: 100%;
    height: 100%;
  }
}