section.brief {
  background: var(--color-onyx-50);
  
  padding: 13.2rem 0 2rem;
}

section.brief .brief-wrapper {
  max-width: 95.6rem;
  margin: 0 auto;
  padding: 0 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.brief img {
  width: 31rem;
  height: 31rem;
  max-width: 34rem;
  max-height: 34rem;
  object-fit: contain;

  align-self: center;
}

section.brief div {
  display: flex;
  flex-direction: column;
}

section.brief h1 {
  font-size: 2.4rem;
  line-height: 3.4rem;

  margin: 6rem 0 0 0;
}

section.brief h1 + p {
  margin-top: 2rem;
}

section.brief p {
  color: var(--color-onyx-500);
}

section.brief p a {
  color: var(--color-onyx-950);
  font-weight: 600;
}

section.portfolio {
  margin-top: 6rem;
  padding: 2rem 0;
  background: var(--color-onyx-50);
}

section.portfolio.work {
  margin-top: 6rem;
  padding: 2rem 0;
  background: var(--color-onyx-100);
}

section.portfolio .portfolio-wrapper {
  max-width: 95.6rem;
  margin: 6rem auto;
  padding: 0 1.6rem;

  display: flex;
  flex-direction: column;
}

.portfolio-wrapper-section-header h4 {
  font-size: 2.4rem;
}


section.portfolio .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  
  align-items: center;
  justify-items: center;

  width: 100%;

  margin-top: 3rem;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
div.scroll::-webkit-scrollbar {
  display: none;
}


section.contact {
  margin-top: 10rem;
  padding: 2rem 0;
  background: var(--color-onyx-50);
}