.card-experience-job {
  max-width: 29rem;
  min-height: 32rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  border: 1px solid var(--color-onyx-100);
  border-radius: 8px;
  
  background: rgba(228, 232, 233, .2);
  box-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.1);

  flex-grow: 0;
  flex-shrink: 0;
}

.card-experience-job img {
  width: 100%;
    /* trabalha a propoção da imagem */
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: all 200ms ease-out, transform 600ms ease-in;

  display: block;
}

.card-experience-job img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1);
}

.card-experience-job .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  
  padding: 1.6rem;
}

.card-experience-job .info p.job {
  font-size: 1.4rem;
  color: var(--color-onyx-400);
}

.card-experience-job .info p.description {
  text-align: start;
  margin-top: .6rem;

  font-size: 1.4rem;
  line-height: 2.6rem;
}

.limited-lines {
  /*max-height: 5.4rem; /* Altura equivalente a três linhas de texto */
  overflow: hidden; /* Oculta o conteúdo excedente */
  text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto cortado */
  line-height: 2.6rem; /* Altura da linha do texto */
  white-space: normal; /* Adicionando a propriedade para quebrar o texto */
  -webkit-line-clamp: 3; /* Por exemplo, para limitar a 3 linhas */
}

.card-experience-job-footer {
  background: rgba(228, 232, 233, .3);
  padding: 1.6rem;
  
  font-size: 1.4rem;
  
  text-align: center;
  
  /* position: absolute;
  left: 0;
  bottom: 0;
  right: 0; */

  border-top: 1px solid var(--color-onyx-20);
}